body > main {
  background-color: #21232e; }

body > header > div > div.landing-logo > img {
  float: left; }

body > header > div > div.landing-logo > p > span {
  display: block; }

body > header > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/m-h-night.jpg);
  height: 400px;
  border-bottom-right-radius: 40%; }

body > main > div.section_card_wrap {
  float: top;
  width: 25%;
  padding: 0 10px; }

body > main > div.section_card_wrap > div.section_card {
  margin: 0 -5px; }

body > header > div > div:nth-child(4) > button {
  color: #ffffff;
  background-color: #e3ac00;
  border-color: #e3ac00; }

body > main > p {
  width: 400px;
  height: 50px;
  margin: 5px auto;
  font-size: 40px; }

body > main > div.section_card_wrap {
  display: block; }

body > footer > div > div > img {
  float: left; }

body > footer > div > div > p > span {
  display: block;
  font-size: 10px; }

body > main > div.section_card_wrap > div.section_card {
  width: 600px;
  margin-left: 400px; }

body > footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

body > footer > div > p {
  font-size: 12px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

body > footer > div > span {
  display: flex;
  flex-direction: column;
  justify-content: center; }

body > main > div.section_card_wrap > div:nth-child(1) > img {
  float: left; }

body > main > div.section_card_wrap > div:nth-child(2) > img {
  float: left; }

body > main > div.section_card_wrap > div:nth-child(3) > img {
  float: left; }

body > main > div.section_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #dca107, #953050); }

body > main > div.section_banner > button {
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: end; }

body > footer > div > span {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

body > footer > div {
  background: #3b3f50; }

body > main > div.section_card_wrap > div > div {
  background: #3b3f50; }

body > main > div.section_banner > button {
  color: #ffffff;
  background-color: #e3ac00;
  border-color: #e3ac00; }
