body>main {
    background-color: $background-color;
}

body>header>div>div.landing-logo>img {
    float: left;
}

body>header>div>div.landing-logo>p>span {
    display: block;
}

body>header>div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: $background-image-day-night-url;
    background-size: 100%;
    background-position: 50% 70%;
    height: 400px;
    border-bottom-right-radius: 40%;
}

body>header>div>div.landing-logo>img {
    padding-top: 10px;
}

body>header>div>div.landing-logo>p {
    padding-top: 10px;
    padding-left: 10px;
}

body>header>div>p.header_heading {
    width: 200px;
    padding-left: 100px;
    font-size: 30px;
    font-weight: bold;
}

body>header>div>p.header_text {
    width: 500px;
    padding-left: 100px;
}

body>header>div>div.landing-logo>img {
    padding-left: 100px;
}

body>header>div>div:nth-child(4)>button {
    margin-left: 100px;
}

body>main>div.section_card_wrap {
    float: top;
    width: 25%;
    padding: 0 10px;
}

body>main>div.section_card_wrap>div.section_card {
    margin: 0 -5px;
}

body>main>div.section_card_wrap>div>div>p.section_card_text {
    color: $button-text-color;
}

body>main>div.section_card_wrap>div>div>p.section_card_heading {
    color: $button-text-color;
}

body>main>div.section_card_wrap>div>div>a {
    color: $button-text-color;
}

body>header>div>div:nth-child(4)>button {
    color: $button-text-color;
    background-color: $buttons-color;
    border-color: $buttons-color;
}

body>main>p {
    width: 400px;
    height: 50px;
    margin: 5px auto;
    font-size: 40px;
}

body>main>div.section_card_wrap {
    display: block;
}

body>footer>div>div>img {
    float: left;
}

body>footer>div>div>p>span {
    display: block;
    font-size: 10px;
}

body>main>div.section_card_wrap>div.section_card {
    width: 600px;
    margin-left: 400px;
}

body>footer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body>footer>div>p {
    font-size: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body>footer>div>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body>main>div.section_card_wrap>div:nth-child(1)>img {
    float: left;
}

body>main>div.section_card_wrap>div:nth-child(2)>img {
    float: left;
}

body>main>div.section_card_wrap>div:nth-child(3)>img {
    float: left;
}

body>main>div.section_banner {
    margin: 0 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, $gradient-color-left, $gradient-color-right);
}

body>main>div.section_banner>button {
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

body>footer>div>span {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body>footer>div {
    background: $cards-and-footer-bg-color;
}

body>main>div.section_card_wrap>div>div {
    background: $cards-and-footer-bg-color;
}

body>main>div.section_banner>button {
    color: $button-text-color;
    background-color: $buttons-color;
    border-color: $buttons-color;
}

body>main {
    position: relative;
}

body>main>div.section_banner {
    position: absolute;
    right: 45px;
    top: 600px;
    width: 650px;
}

body>footer>div {
    width: 100%;
    margin-top: 165px;
}