$gradient-color-left: #66960b;
$gradient-color-right: #2f5dd1;
$cards-and-footer-bg-color: #21232e;
$buttons-color: #699900;
$button-text-color: #ffffff;
$background-color: #ffffff;
$background-image-day-night-url: url(../img/m-h-day.jpg);