$gradient-color-left: #dca107;
$gradient-color-right: #953050;
$cards-and-footer-bg-color: #3b3f50;
$buttons-color: #e3ac00;
$button-text-color: #ffffff;
$background-color: #21232e;
$background-image-day-night-url: url(../img/m-h-night.jpg);